.carousel-item{
    height: 600px;
}
.carousel-item img{
    margin-top: -120px;
}
pT{
    font-size: 60px;
    border: black solid 2px;
    background-color: rgb(21, 21, 161);
    padding: 2px 5px 2px 5px;
    box-shadow: -30px  20px 19px #020e2e;
}
#s2nd{
    box-shadow: 30px  20px 19px #020e2e;
}
PT PG{
    color: gold;
    text-shadow: 0px 9px 3px black;
}
t2nd{
    padding-left: 0;
}

.line_me{
    width: 100%;
    height: 45px;
    position: relative;
}
.line_me::after, .line_me::before{
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background-color: #fff;
    width: 45%;
    top: 45%;
}
.line_me::after{
    left: 0;
}
.line_me::before{
    right: 0;
}
.circ_me{
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}
.squa_me{
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
od{
    font-family: 'Diplomata', cursive;
    font-size: 30px;
    color: goldenrod;
}
#photome{
    border: rgba(7, 230, 37, 0.795) solid 3px;
    box-shadow: 0px  30px 90px #020e2e;
}

#igs:hover{
    color: chartreuse;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 10px 10px 10px #020e2e;
}
#igs, #copyright{
    color: rgb(201, 247, 248);
    text-decoration: none;
}
#copyright:hover{
    color: chartreuse;
    text-decoration: none;
}

.card img{
    height: 349px;
}

.card{
    box-shadow: 10px 10px 10px #020e2e;
}

.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
#texttype{
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(71, 147, 218);
    background-color: rgba(195, 195, 247, 0.5);
    border-radius: 4px;
    color: black;
  }
#texttype:focus{
    background-color: rgba(31, 106, 192, 0.801);
  }
::placeholder{
    color: rgb(44, 72, 148);
}
#submit{
    background-color: rgb(61, 95, 206);
    box-shadow: 0 4px 2px black;
    border-radius: 4px;
    outline: none;
}
nav{
    box-shadow: 0 2px 50px black;
}
